
*.exe
*.exe~
*.dll
*.so
*.dylib

*.test

*.out
.env
node_modules
# Go workspace file
go.work
web/node_modules
web/dist
web/*.zip
web/yarn.lock
web/yarn-error.log
static
static/*
*.txt
*.zip
.idea
telegram-manage
yarn.lock
yarn-error.log
node_modules
.env